*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("./../img/design1_image2.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    
   
 }
 .tituloPrincipal{
    background-color: rgb(41, 41, 25);
    font-weight: bold;
    font-size: 90px;
    color: goldenrod;
    text-align: center;
    padding: 5px;
    
  
}
main h2{
    display: inline-block;
    margin: 5px;
    width: 55%;
    background-color: goldenrod;
    color:black;
    text-align: center;
    border: 3px solid black;
}
#logo{
    width: 170px;
    background-color: rgb(41, 41, 25);
    padding: 10px;
    border-radius: 50px;
    margin: 5px 30px 10px 0px;
    float:left;
    clear: left;
  
}
.navegacion {
    float: right;
    padding: 20px;
    box-shadow: 5px 5px 2px rgb(95, 110, 25);
    background-color: rgb(41, 41, 25);
    border-radius: 5px;
    box-shadow: 2px; 
   margin:-30px 170px 0px 0px;
    
   
}
.navegacion a{
    text-decoration: none;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: goldenrod;
    margin-bottom: 20px;
    display: block;
    right: 15px;

   
}
.navegacion a:hover { 
    font-size: 30px;
 
}

.articulos {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 15px;
   
}
article{
    margin: 0px 5px 15px 0px; 
} 

.correo a{
    color:rgb(10, 10, 10);
    text-decoration-color: black;
}
