*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS ;
}
 header{
    background-image: url(./../img/design1_image1.jpg);
    background-size: cover;
    width:100%;
    height:350px;
    
}
.tituloPrincipal{
    font-size :80px;
   
}
#logo{
    width: 200px;
    border: 3px solid black;
    position: relative;
    top: 230px;
    left: 80%;
   background-color: white;
}
 h2{
    font-size : 40px;
    font-weight: bold;
    color:white;
    background-color: black;
    padding: 10px;
    margin: 0;
    text-align: center;
  
   
}

.navegacion a {
    display:block ;
    margin:40px 0px 50px 40px;
    font-size: 30px;
    color:rgb(107, 159, 206);
    width: 250px;
    block-size: 100px;
    
} 
.navegacion a:hover { 
    color:blue;
}
.navegacion a:active {
    color:black;
}
 
 
.articulos{
   
    font-size: 30px;
    width: 50%;
    margin:30px ;
}
article{
    margin: 20px;
}
 
article h3{
    font-weight: bold;
   
}

.correo a{
    color:rgb(107, 159, 206);
    text-decoration-color: black;
}

nav, section{
    
        display: inline-block;
        vertical-align: top;

}
h4{
    display: none;
}